@mixin transition($dur, $att) {
  -webkit-transition: $dur $att;
     -moz-transition: $dur $att;
      -ms-transition: $dur $att;
       -o-transition: $dur $att;
          transition: $dur $att;
}

@mixin gray($per) {
  -webkit-filter: grayscale($per);
     -moz-filter: grayscale($per);
      -ms-filter: grayscale($per);
       -o-filter: grayscale($per);
          filter: grayscale($per);
}

a.nav-expander {
  background: none repeat scroll 0 0 #000000;
  color: #FFFFFF;
  display: block;
  font-size: 15px;
  font-weight: 400;
  height: 50px;
  margin-right: 0;
  padding: 1em 1.6em 2em;
  position: absolute;
  right: 0;
  text-decoration: none;
  text-transform: uppercase;
  top: 0;
  transition: right 0.3s ease-in-out 0s;
  width: 130px;
  z-index: 12;

  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;

}

a.nav-expander:hover {
  cursor: pointer;
}

a.nav-expander.fixed {
  position: fixed;
}

.nav-expanded a.nav-expander.fixed {
    right: 20em;
}
#nav-expander {
    cursor: pointer;
}
nav {
  background: #1c1e2b;
  display: block;
  height: 100%;
  overflow: auto;
  position: fixed;
  right: -20em;
  font-size: 15px;
  top: 0;
  width: 20em;
  z-index: 99999;
  
  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;

}
.nav-expanded nav {
  right: 0;
}

body.nav-expanded {
  margin-left: 0em;
  transition: right 0.4s ease-in-out 0s;
  -webkit-transition: right 0.4s ease-in-out 0s;
  -moz-transition: right 0.4s ease-in-out 0s;
  -o-transition: right 0.4s ease-in-out 0s;
}

#nav-close {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 24px;
  padding-right: 10px;
}

.main-menu {
  padding-top: 12px;
}

.main-menu li {
  border-bottom: 1px solid #323949;
  margin-left: 20px;
  font-size: 18px;
  padding: 12px;
}

.main-menu li a {
  color: #6F7D8C;
  text-decoration: none;
}

.main-menu li a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.main-menu li .sub-nav {
  border-bottom: 0px;
  padding: 4px;
}

.main-menu a .caret {
	width: 0;
	height: 0;
	display: inline-block;
	vertical-align: top;
	border-top: 4px solid #4f5963;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
    margin-top: 8px;
}

.main-menu a:hover .caret {
	border-top-color: #4f5963;
}

.main-menu li.open > a > .caret {
	border-top: none;
	border-bottom: 4px solid #4f5963;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.main-menu li.open > a:hover > .caret {
	border-bottom-color: #4f5963;
}

.icon:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  content: '\f105';
}

.main-menu li > a > span.icon {
  float: right;
  margin: 0.1em 1.7em -0.1em 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

}

.main-menu li > a:hover > span.icon {
  float: right;
  margin: 0.1em 0.8em -0.1em 0;
  opacity: 1;
}

.panel-default {
    border-color: #333;
    background: rgba(0,0,0,.4);

  .panel-heading {
      color: #FFF;
      background-color: rgba(0,0,0,.4);
      border-color: #444;
      border-radius: 0px;
      font-size: 30px;
      text-align: center;
  }
}

.login label.control-label {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: -2px;
    color: #EEE;
    font-weight: normal;
    font-family: calibri;
    font-size: 16px;
}

.login input.form-control {
    width: 80%;
    display: block;
    margin: 7px auto 0;
    background: rgba(3,3,3,.79);
    border: none;
    border-radius: 0;
    color: #DDD;
    font-size: 18px;
    padding: 29px 20px;
    font-family: calibri;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: block;
    width: 50%;
    margin: 2px auto;
    font-size: 20px;
}

.checkbox label {
  color: #EEE;
  font-size: 16px;
}

a.btn-link {
  float: right;
}

.form-horizontal div.checkbox {
    display: inline-block;
    vertical-align: top;
}

.leftMenu {
    display: inline-block;
    width: 30%;
}

.help-block {
  display: block; // account for any element using help-block
  margin-top: 5px;
  margin-bottom: 10px;
  color: lighten($text-color, 25%); // lighten the text some for contrast
  margin-left: 11%;
 }

 .boost-tab.checkout {
    height: 520px;
    background: transparent;
    text-align: center;

    a.option {
      @include transition(0.43s, all);
      @include gray(100%);
      width: 16%;
      height: 100%;
      display: inline-block;
      background: url(../images/temp.jpg) center;
      background-size: cover;
      opacity: 0.7;
      color: #FFF;
      text-decoration: none;
      vertical-align: top;

      small {
        @include transition(0.43s, all);
          font-size: 16px;
          text-shadow: 1px 1px 3px #000;
          font-family: 'Montserrat', sans-serif;
          height: 0px;
          overflow: hidden;
          width: 100%;
          display: block;
      }
      
      h2 {
        @include transition(0.43s, all);
          font-size: 40px;
          text-shadow: 1px 1px 4px #000;
      }

      &:hover {
        @include gray(0%);
        width: 20%;
        opacity: 1;
      
        h2 {
            font-size: 48px;
        }

        small {
          height: 70px;
        }
      }
  }
}

h2.guestTitle {
    font-size: 34px;
    margin: 22px auto;
    color: #FFF;
}